@page
@model BPA.FE.Pages.FeedbackManage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.created_on)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.created_on)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.is_deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.is_deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.customer.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.product.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Feedback.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
